Repository HeadNods/AutomationPlayground: changes, and which Bitbucket steps are due for each by the changed paths.
All: Postman API Tests, Cypress E2E Tests, Selenium UI Tests

Postman API Tests:
  caches:
  - node
  script:
  - cd postman-demo
  - npm install
  - npm test
  artifacts:
  - postman-demo/test-results/junit-report.xml

Cypress E2E Tests:
  caches:
  - node
  script:
  - cd cypress-demo
  - npm install
  - npm test
  artifacts:
  - cypress-demo/test-results/*.xml

Selenium UI Tests:
  caches:
  - node
  script:
  - cd selenium-demo
  - npm install
  - npm test
  artifacts:
  - selenium-demo/test-results/*.xml

workflow publish commented out for now
  .github/workflows/cypress-workflow.yml
Due: none

cypress docker run option added both locally and in github workflow
  .github/workflows/cypress-workflow.yml
  cypress-demo/.dockerignore
  cypress-demo/README.md
  cypress-demo/docker-compose.yml
  cypress-demo/package.json
Due: Cypress E2E Tests

cypress docker cleanup and docker workflow implementation fix
  .github/workflows/cypress-workflow.yml
  cypress-demo/README.md
  cypress-demo/package.json
  postman-demo/README.md
Due: Postman API Tests, Cypress E2E Tests

workflow fix attempt
  .github/workflows/cypress-workflow.yml
Due: none

docker compose syntax fix to also work in github job
  cypress-demo/package.json
Due: Cypress E2E Tests

workflow docker finetuning
  .github/workflows/cypress-workflow.yml
  cypress-demo/README.md
Due: Cypress E2E Tests

cypress docker-compose cleanup and postman docker documentation for future reference
  cypress-demo/docker-compose.yml
  postman-demo/POSTMAN_WITH_DOCKER.md
Due: Postman API Tests, Cypress E2E Tests

selenium prototype project to validate docker and workflow setup already
  .github/workflows/selenium-workflow.yml
  cypress-demo/.dockerignore
  selenium-demo/.env.example
  selenium-demo/.gitignore
  selenium-demo/README.md
  selenium-demo/cucumber.js
  selenium-demo/docker-compose.yml
  selenium-demo/e2e-tests/features/POMFeatures/authTests.feature
  selenium-demo/e2e-tests/features/exampleAssertions.feature
  selenium-demo/e2e-tests/features/exampleClicks.feature
  selenium-demo/e2e-tests/features/exampleInputs.feature
  selenium-demo/e2e-tests/features/exampleNavigation.feature
  selenium-demo/e2e-tests/features/exampleProgress.feature
  selenium-demo/e2e-tests/functions/base.ts
  selenium-demo/e2e-tests/functions/exampleAssertionFunctions.ts
  selenium-demo/e2e-tests/functions/exampleInputFunctions.ts
  selenium-demo/e2e-tests/functions/exampleKeyFunctions.ts
  selenium-demo/e2e-tests/functions/exampleNavigationFunctions.ts
  selenium-demo/e2e-tests/steps/POMFeatureSteps/authTestsSteps.ts
  selenium-demo/e2e-tests/steps/assertionSteps.ts
  selenium-demo/e2e-tests/steps/awaitSteps.ts
  selenium-demo/e2e-tests/steps/clickElementSteps.ts
  selenium-demo/e2e-tests/steps/inputSteps.ts
  selenium-demo/e2e-tests/steps/navigationSteps.ts
  selenium-demo/e2e-tests/support/driverController.ts
  selenium-demo/e2e-tests/support/hooks.ts
  selenium-demo/package-lock.json
  selenium-demo/package.json
  selenium-demo/tsconfig.json
Due: Cypress E2E Tests, Selenium UI Tests

let npm handle cucumber js path as cross platform fix for workflow error
  selenium-demo/package.json
Due: Selenium UI Tests

workflow secret fix
  .github/workflows/selenium-workflow.yml
Due: none

ambiguous step fix
  selenium-demo/e2e-tests/steps/supportingSteps.ts
Due: Selenium UI Tests

Page object model improvements by implementing functions in pages by extension of a basePage
  selenium-demo/e2e-tests/functions/base.ts
  selenium-demo/e2e-tests/functions/exampleAssertionFunctions.ts
  selenium-demo/e2e-tests/functions/exampleInputFunctions.ts
  selenium-demo/e2e-tests/functions/exampleKeyFunctions.ts
  selenium-demo/e2e-tests/functions/exampleNavigationFunctions.ts
  selenium-demo/e2e-tests/functions/helperFunctions.ts
  selenium-demo/e2e-tests/pages/addRemoveElementsPage.ts
  selenium-demo/e2e-tests/pages/basePage.ts
  selenium-demo/e2e-tests/pages/checkboxesPage.ts
  selenium-demo/e2e-tests/pages/contextMenuPage.ts
  selenium-demo/e2e-tests/pages/dragAndDropPage.ts
  selenium-demo/e2e-tests/pages/dynamicControlsPage.ts
  selenium-demo/e2e-tests/pages/homePage.ts
  selenium-demo/e2e-tests/pages/inputsPage.ts
  selenium-demo/e2e-tests/pages/loginPage.ts
Due: Selenium UI Tests

basePage cleanup and draganddrop fix to also have it work in a firefox browser
  selenium-demo/e2e-tests/pages/basePage.ts
Due: Selenium UI Tests

selenium pages folder structure improvement and cypress jsconfig added - lets make a copy of our cypress-demo using typescript for comparison
  cypress-demo/cypress/page-object-model/pages/ActionsPage.js
  cypress-demo/cypress/page-object-model/pages/MiscPage.js
  cypress-demo/cypress/page-object-model/pages/SpiesStubsClocksPage.js
  cypress-demo/jsconfig.json
  selenium-demo/e2e-tests/pages/pageObjects/addRemoveElementsPage.ts
  selenium-demo/e2e-tests/pages/pageObjects/checkboxesPage.ts
  selenium-demo/e2e-tests/pages/pageObjects/contextMenuPage.ts
  selenium-demo/e2e-tests/pages/pageObjects/dragAndDropPage.ts
  selenium-demo/e2e-tests/pages/pageObjects/dynamicControlsPage.ts
  selenium-demo/e2e-tests/pages/pageObjects/homePage.ts
  selenium-demo/e2e-tests/pages/pageObjects/inputsPage.ts
  selenium-demo/e2e-tests/pages/pageObjects/loginPage.ts
  selenium-demo/e2e-tests/steps/addRemoveElementsPageSteps.ts
  selenium-demo/e2e-tests/steps/checkboxesPageSteps.ts
  selenium-demo/e2e-tests/steps/contextMenuPageSteps.ts
  selenium-demo/e2e-tests/steps/dragAndDropPageSteps.ts
  selenium-demo/e2e-tests/steps/dynamicControlsPageSteps.ts
  selenium-demo/e2e-tests/steps/homePageSteps.ts
  selenium-demo/e2e-tests/steps/inputsPageSteps.ts
  selenium-demo/e2e-tests/steps/loginPageSteps.ts
  selenium-demo/e2e-tests/steps/supportingSteps.ts
  selenium-demo/e2e-tests/support/driverController.ts
Due: Cypress E2E Tests, Selenium UI Tests

broken images page tests added
  selenium-demo/README.md
  selenium-demo/e2e-tests/features/brokenImagesPage.feature
  selenium-demo/e2e-tests/pages/basePage.ts
  selenium-demo/e2e-tests/pages/pageObjects/brokenImagesPage.ts
  selenium-demo/e2e-tests/steps/brokenImagesPageSteps.ts
  selenium-demo/e2e-tests/steps/supportingSteps.ts
  selenium-demo/e2e-tests/support/driverController.ts
Due: Selenium UI Tests

challengingDOM Page tests added and url modification to use https
  selenium-demo/e2e-tests/features/challengingDOMPage.feature
  selenium-demo/e2e-tests/pages/pageObjects/addRemoveElementsPage.ts
  selenium-demo/e2e-tests/pages/pageObjects/brokenImagesPage.ts
  selenium-demo/e2e-tests/pages/pageObjects/challengingDOMPage.ts
  selenium-demo/e2e-tests/pages/pageObjects/checkboxesPage.ts
  selenium-demo/e2e-tests/pages/pageObjects/contextMenuPage.ts
  selenium-demo/e2e-tests/pages/pageObjects/dragAndDropPage.ts
  selenium-demo/e2e-tests/pages/pageObjects/dynamicControlsPage.ts
  selenium-demo/e2e-tests/pages/pageObjects/homePage.ts
  selenium-demo/e2e-tests/pages/pageObjects/inputsPage.ts
  selenium-demo/e2e-tests/pages/pageObjects/loginPage.ts
  selenium-demo/e2e-tests/steps/challengingDOMPageSteps.ts
  selenium-demo/e2e-tests/steps/supportingSteps.ts
  selenium-demo/e2e-tests/support/driverController.ts
Due: Selenium UI Tests

dropdownPage tests added
  selenium-demo/e2e-tests/features/dropdownPage.feature
  selenium-demo/e2e-tests/pages/pageObjects/dragAndDropPage.ts
  selenium-demo/e2e-tests/pages/pageObjects/dropdownPage.ts
  selenium-demo/e2e-tests/steps/dropdownPageSteps.ts
  selenium-demo/e2e-tests/steps/supportingSteps.ts
  selenium-demo/e2e-tests/support/driverController.ts
Due: Selenium UI Tests

dynamicloadingpage tests added - and small modifications
  selenium-demo/e2e-tests/features/dynamicLoadingPage.feature
  selenium-demo/e2e-tests/pages/basePage.ts
  selenium-demo/e2e-tests/pages/pageObjects/dynamicControlsPage.ts
  selenium-demo/e2e-tests/pages/pageObjects/dynamicLoadingPage.ts
  selenium-demo/e2e-tests/steps/dynamicLoadingPageSteps.ts
  selenium-demo/e2e-tests/steps/supportingSteps.ts
  selenium-demo/e2e-tests/support/driverController.ts
Due: Selenium UI Tests

fileupload
  selenium-demo/README.md
  selenium-demo/docker-compose.yml
  selenium-demo/e2e-tests/features/fileUploadPage.feature
  selenium-demo/e2e-tests/pages/pageObjects/fileUploadPage.ts
  selenium-demo/e2e-tests/steps/fileUploadPageSteps.ts
  selenium-demo/e2e-tests/steps/homePageSteps.ts
  selenium-demo/e2e-tests/steps/supportingSteps.ts
  selenium-demo/e2e-tests/support/data/exampleTinyFile.png
Due: Selenium UI Tests

driverController modifications
  selenium-demo/e2e-tests/features/fileUploadPage.feature
  selenium-demo/e2e-tests/support/driverController.ts
  selenium-demo/package-lock.json
  selenium-demo/package.json
Due: Selenium UI Tests

selenium iframe tests
  selenium-demo/e2e-tests/features/iframePage.feature
  selenium-demo/e2e-tests/pages/basePage.ts
  selenium-demo/e2e-tests/pages/pageObjects/iframePage.ts
  selenium-demo/e2e-tests/steps/iframePageSteps.ts
  selenium-demo/e2e-tests/support/driverController.ts
Due: Selenium UI Tests

selenium workflow improvement to guarantee 3 full test runs and challengingDOMPage stability improvement
  .github/workflows/selenium-workflow.yml
  selenium-demo/e2e-tests/pages/pageObjects/challengingDOMPage.ts
Due: Selenium UI Tests

selenium geolocation tests
  selenium-demo/e2e-tests/features/geoLocationPage.feature
  selenium-demo/e2e-tests/pages/pageObjects/geoLocationPage.ts
  selenium-demo/e2e-tests/steps/geoLocationPageSteps.ts
  selenium-demo/e2e-tests/support/driverController.ts
Due: Selenium UI Tests

horizontal slider tests
  selenium-demo/e2e-tests/features/horizontalSliderPage.feature
  selenium-demo/e2e-tests/pages/pageObjects/horizontalSliderPage.ts
  selenium-demo/e2e-tests/steps/horizontalSliderPageSteps.ts
  selenium-demo/e2e-tests/support/driverController.ts
Due: Selenium UI Tests

selenium hover tests
  selenium-demo/e2e-tests/features/hoverPage.feature
  selenium-demo/e2e-tests/pages/pageObjects/hoverPage.ts
  selenium-demo/e2e-tests/steps/hoverPageSteps.ts
  selenium-demo/e2e-tests/support/driverController.ts
Due: Selenium UI Tests

selenium request-response interception experimentation
  selenium-demo/e2e-tests/features/redirectorPage.feature
  selenium-demo/e2e-tests/pages/basePage.ts
  selenium-demo/e2e-tests/pages/pageObjects/redirectorPage.ts
  selenium-demo/e2e-tests/steps/redirectorPageSteps.ts
  selenium-demo/e2e-tests/support/driverController.ts
Due: Selenium UI Tests

Selenium multiple step defs fix dynamicloading and geolocation page
  selenium-demo/e2e-tests/features/dynamicLoadingPage.feature
  selenium-demo/e2e-tests/features/geoLocationPage.feature
  selenium-demo/e2e-tests/steps/dynamicLoadingPageSteps.ts
  selenium-demo/e2e-tests/steps/geoLocationPageSteps.ts
Due: Selenium UI Tests

selenium edge iframe tests timeout in github job - attempted fix
  selenium-demo/e2e-tests/support/driverController.ts
Due: Selenium UI Tests

selenium implicit waits set back to 0 to avoid assertion issues on dynamically loaded components their presence
  selenium-demo/e2e-tests/support/driverController.ts
Due: Selenium UI Tests

differentiate ts from js version in workflow improvement
  .github/workflows/cypress-ts-workflow.yml
Due: none

small type registration change to avoid issues
  cypress-ts-demo/cypress-mochawesome-reporter.d.ts
  cypress-ts-demo/cypress.config.ts
Due: none

Path conditions:
  Postman API Tests: any of: postman-demo/**
  Cypress E2E Tests: any of: cypress-demo/**
  Selenium UI Tests: any of: selenium-demo/**
